body {
	margin:  0;
	padding: 0;
	background: url(images/logo.png) no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	overflow:   hidden;
}

a { color: #ddd; }

canvas.table, canvas.overlay {
	display:  block;
	position: absolute;
	top:      0;
	left:     0;
}

.selection-rectangle {
	border:     1px dotted white;
	background: rgba(255, 255, 255, 0.1);
}

.menu {
	font-family: 'Roboto';
}

#log-entries {
	color:    #ddd;
	font-size: 10pt;
}

#log-entries .group {
	margin-left: 5px;
}

#log-entries .group-title {
	cursor: pointer;
	font-weight: bold;
}

#log-entries .group-title:hover {
	color: white;
	text-decoration: underline;
}

#log-entries .group-title.collapsed + .group {
	display: none;
}

#log-entries .group-title.collapsed .group-expander:after {
	content: '+';
	font-family: monospace;
}

#log-entries .group-title .group-expander:after {
	content: '-';
	font-family: monospace;
}

#log-entries .time {
	font:         mono;
	color:        #777;
	margin-right: 10px;
}

#log-entries .color {
	display:       inline-block;
	width:         20px;
	height:        12px;
	border-radius: 4px;
	position:      relative;
	top:           1px;
}

@font-face {
	font-family: Trench;
	src: url("trench100free.otf") format("opentype");
}

.sidebar {
	position: absolute;
	top: 0;
	left: 0;
	width: 244px;
	height: 100%;
	box-sizing: border-box;
	background: rgba(0, 0, 0, 0.9);
	z-index: 1000;
	box-shadow: 0 0 20px #000;
	color: #eee;
	font-size:   20px;
	font-family: 'Roboto';
	font-weight: 300;
	transition: left 0.4s 0.4s;
	display: flex;
	flex-direction: column;
}

.sidebar.collapsed {
	left: -196px;
	transition: left 0.4s;
}

.sidebar .expanded-content {
	display: flex;
	flex-direction: column;
	position: relative;
	left: 0;
	transition: left 0.4s 0.4s;
}

.sidebar.collapsed .expanded-content {
	left: -48px;
	transition: left 0.4s;
}

.sidebar .collapsed-content {
	position: absolute;
	top: 48px;
	left: -48px;
	width: 48px;
	transition: left 0.4s;
}
.sidebar.collapsed .collapsed-content {
	display: block;
	left: 196px;
	transition: left 0.4s 0.4s;
}

.sidebar .collapsed-content .button {
	display: block;
	margin-top: 1px;
}

.sidebar .sidebar-title {
	flex-shrink: 0;
	font: 48px Trench;
	text-align: center;
	color: #ddd;
	background: linear-gradient(#398ED4, #53A1E0);
	line-height: 48px;
	padding: 0 32px 0 10px;
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	height: 48px;
}

.sidebar .sidebar-expander {
	position: absolute;
	top: 0;
	left: 196px;
	width: 48px;
	height: 48px;
	background-image: url(images/icon-left-white-32px.png);
	background-position: center center;
	background-repeat: no-repeat;
	cursor: pointer;
}

.sidebar.collapsed .sidebar-expander {
	background-image: url(images/icon-right-white-32px.png);
}

.sidebar .sidebar-expander:hover {
	background-color: rgba(255, 255, 255, 0.3);
}

.sidebar .notebook {
	display: flex;
	flex-direction: column;
	margin-top: 1px;
}

.notebook .tabs {
	flex-shrink: 0;
	display: flex;
	background: rgba(83, 160, 224, 0.2);
}

.notebook .tab {
	flex-grow: 1;
	text-align: center;
	border-bottom: 1px solid #555;
	position: relative;
}

.notebook .tab .icon {
	background-position: center center;
	background-repeat: no-repeat;
	height: 48px;
	opacity: 0.6;
}

.notebook .tab:hover, .notebook .tab.active {
	border-bottom: 1px solid #53A1E0;
}

.notebook .tab:hover .icon, .notebook .tab.active .icon {
	opacity: 1.0;
}

.notebook .pages {
	overflow: auto;
}
.notebook .page {
	display: none;
	padding: 10px 20px;
}
.notebook .page.active {
	display: block;
}
.notebook .page hr {
	height: 1px;
	border: 0;
	background: #555;
	margin: 10px 15px;
}


.button {
	display: inline-block;
	width: 48px;
	height: 48px;
	opacity: 0.6;
	background-position: center center;
	background-repeat: no-repeat;
}
.button:hover, .button.active {
	opacity: 1;
	background-color: #53A1E0;
}

.icon-help    { background-image: url(images/icon-help-white-32px.png);    }
.icon-left    { background-image: url(images/icon-left-white-32px.png);    }
.icon-right   { background-image: url(images/icon-right-white-32px.png);   }
.icon-drag    { background-image: url(images/icon-drag-white-32px.png);    }
.icon-rotate  { background-image: url(images/icon-rotate-white-32px.png);  }
.icon-draw    { background-image: url(images/icon-draw-white-32px.png);    }
.icon-erase   { background-image: url(images/icon-erase-white-32px.png);   }
.icon-library { background-image: url(images/icon-library-white-32px.png); }
.icon-user    { background-image: url(images/icon-user-white-32px.png);    }
.icon-layers  { background-image: url(images/icon-layers-white-32px.png);  }
.icon-history { background-image: url(images/icon-history-white-32px.png); }
.icon-open    { background-image: url(images/icon-open-white-32px.png);    }
.icon-save    { background-image: url(images/icon-save-white-32px.png);    }

.sidebar-buttons {
	flex-shrink: 0;
	display: flex;
	margin-top: 1px;
}
.sidebar-buttons .button:not(:first-child) {
	margin-left: 1px;
}
#sidebar-game-banner {
	flex-shrink: 0;
	margin-top: 1px;
	height: 48px;
	background-size: cover;
	background-position: 50% 50%;
}
.notebook .page-1 {
	padding: 0;
}
#games-list .game {
	border-bottom: 1px solid #444;
	display: flex;
	cursor: pointer;
}
#games-list .game:hover {
	background: #333;
}
#games-list .game .banner {
	width: 40px;
	flex-grow: 0;
	flex-shrink: 0;
	background-size: cover;
	background-position: 50% 50%;
}
#games-list .game .title {
	padding: 5px 10px;
}

#groups-list .group {
	cursor: pointer;
}

.turn-group {
	position: absolute;
	z-index: 100;
	font-size: 16px;
}

.turn-group .counter {
	background: rgba(0, 0, 0, 0.1);
	color: rgba(255, 255, 255, 0.7);
}

.turn-group .counter .prev {
	background: rgba(0, 0, 0, 0.9);
	cursor: pointer;
	display: inline-block;
	padding: 1px 8px;
}

.turn-group .counter .prev:hover {
	background: rgba(0, 0, 0, 0.9);
	background-color: #53A1E0;
}

.turn-group .counter .name {
	background-color: #53A1E0;
	display: inline-block;
	padding: 1px 4px;
}

.turn-group .counter .next {
	background: rgba(0, 0, 0, 0.9);
	cursor: pointer;
	display: inline-block;
	padding: 1px 8px;
}

.turn-group .counter .next:hover {
	background-color: #53A1E0;
}

.turn-group .options {
	color: rgba(255, 255, 255, 0.7);
}

.turn-group .options .option {
	display: inline-block;
	padding: 1px 4px;
	background: rgba(0, 0, 0, 0.9);
	border-left: 1px solid rgba(255, 255, 255, 0.3);
	cursor: pointer;
}
.turn-group .options .option:first-child {
	border-left: 0;
}
.turn-group .options .option:hover, .turn-group .options .option.active {
	background-color: #53A1E0;
	color: rgba(255, 255, 255, 1.0);
}
